@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#Builderz {
  font-family: "Pacifico", cursive;
}
#playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}


@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default
}